- name: Create argocd namespace
  shell: |
    kubectl create namespace argocd || true

- name: Install Argo CD
  shell: |
    kubectl apply -n argocd \
      -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
