- name: Create argocd namespace
  shell: kubectl create namespace argocd
  ignore_errors: true

- name: Check if Argo CD exists
  shell: kubectl get deployment argocd-server -n argocd
  register: argocd_check
  ignore_errors: true

- name: Install Argo CD
  shell: |
    kubectl apply -n argocd \
      -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  when: argocd_check.rc != 0
